@import "../../index.scss";

.category {
  padding-top: 12rem;
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;

    .box {
      display: flex;
      background: #fff;
      box-shadow: $box-shadow;
      border-radius: 0.5rem;
      padding: 3rem 2rem;
      text-align: center;
      justify-content: center;
      align-items: center;
      outline: $outline;
      outline-offset: -1rem;

      &:hover {
        outline-offset: 0;
        outline: $outline-hover;
      }

      img {
        height: 15rem;
        margin: 1rem 0;
      }

      h3 {
        font-size: 2rem;
        line-height: 1.8;
        color: $black;
      }

      p {
        color: $light-color;
        list-style: 1.8;
        font-size: 1.7rem;
        padding: 1rem 0;
      }
    }
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 2rem 13rem 0;
  position: relative;

  .text-black {
    padding: 1rem;
    font-size: 2rem;
    height: 45px;
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #d5d5d5;
    color: #ffffff;

    &::placeholder {
      color: #000000;
      font-size: 1.5rem;
      font-style: normal;
    }

    &:focus {
      outline: none;
      background-color: #3a5afd;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
      
      &::placeholder {
        color: #ffffff;
      }
    }
  }

  // .search-icon {
  //   position: absolute;
  //   font-size: 1.6rem;
  //   color: #000000;
  //   right: 10%;
  // }
}

.products {
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;

    .box {
      background: #fff;
      border-radius: 0.5rem;
      padding: 3rem 2rem;
      text-align: center;
      outline-offset: -1rem;
      outline: $outline;
      box-shadow: $box-shadow;

      &:hover {
        outline-offset: 0;
        outline: $outline-hover;
      }

      img {
        height: 20rem;
        margin: auto;
      }

      h3 {
        font-size: 2rem;
        color: $black;
      }

      .price {
        font-size: 2rem;
        color: $light-color;
      }

      .stars {
        font-size: 1.7rem;
        padding: 0.5rem 0;
        color: $blue;
      }

      .btn-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // height: 50%;
      }
    }
  }
}
