@import "../../index.scss";

.reviews {
  padding-top: 12rem;

  .reviews-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;

    .box {
      background: #fff;
      border-radius: 0.5rem;
      text-align: center;
      padding: 3rem 2rem;
      outline: $outline;
      outline-offset: -1rem;
      box-shadow: $box-shadow;

      &:hover {
        outline-offset: 0;
        outline: $outline-hover;
      }

      img {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
      }

      p {
        padding: 1rem 0;
        line-height: 1.8;
        font-size: 1.5rem;
        color: $light-color;
      }

      h3 {
        padding: 0.5rem;
        color: $black;
        font-size: 2.2rem;
      }

      .stars {
        color: $blue;
        font-size: 1.7rem;
      }
    }
  }
}